@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đăng ký tài khoản";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Để tài khoản hoạt động hãy truy cập gmail và nhấp vào link kích hoạt!
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

